@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary border rounded-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-5 fw-bold">TimeLogger</h1>
                <p class="fs-4">TimeLogger is a modern and lightweight web app to easily track time of your tasks.</p>
                <a asp-controller="log" asp-action="Index" class="btn btn-primary btn-lg" type="button">Log Time</a>
                <a asp-controller="Week" asp-action="Index" class="btn btn-outline-secondary btn-lg" type="button">Search Logs</a>
            </div>
        </div>
    </div>
    <div class="container py-4 w-50">
        <form>
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>

            <div class="form-floating py-1">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating py-1">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>
    </div>
</main>